In [1]:
import requests
from bs4 import BeautifulSoup 
import numpy as np

In [2]:
from selenium import webdriver
import time

In [3]:
website = 'https://www.cars24.com/buy-used-cars-pune/'
path = 'C://Users//prashanth//Desktop//New folder//chromedriver.exe'

driver = webdriver.Chrome(path)
driver.get(website)
previous_height = driver.execute_script('return document.body.scrollHeight')
while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    time.sleep(5)
    new_height = driver.execute_script('return document.body.scrollHeight')
    if new_height == previous_height:
        break
    previous_height = new_height
file = open('cars24_pune.html', 'w', encoding='utf-8')
file.write(driver.page_source)
file.close()
driver.close()

C:\Users\PRASHA~1\AppData\Local\Temp/ipykernel_19324/1691307570.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [4]:
data = open('cars24_pune.html','r',encoding="utf8")
soup = BeautifulSoup(data, 'html.parser')

In [5]:
divs = soup.find_all('div',{'class':'_1l4fi'})

In [6]:
cars_name = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:] for div in divs ]

cars_brand = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:].split(' ')[0] for div in divs ] 

model_year = [div.find('div',{'class':'_1jpRU'}).text[:4] for div in divs ] 

model = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).text.strip('Manual') for div in divs ]
model = [i.strip('Automatic')  for i in model]

car_type = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).find('span').text for div in divs ]

kms = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[0] for div in divs ]

owner = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[1][2:] for div in divs ]

gasoliene_type = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[2][5:] for div in divs ]

emi_per_month = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_2HFRN'}).text[3:] for div in divs ]

price = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_7udZZ'}).text[3:] for div in divs ]

zero_downpayment = [div.find('div',{'class':'JvSRy'}).find('span',{'class':'_3X7mV _2H07I'}).text for div in divs ]

In [8]:
len(cars_name)

635

In [9]:
d = {'cars_name':cars_name,'cars_brand':cars_brand,'model':model,'model_year':model_year,'car_type':car_type,'kms':kms,'owner':owner,'gasoliene_type':gasoliene_type,'price':price,'emi_per_month':emi_per_month,'zero_downpayment':zero_downpayment}

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(d)

In [13]:
df.shape

(635, 11)

In [14]:
df.head()

,cars_name,cars_brand,model,model_year,car_type,kms,owner,gasoliene_type,price,emi_per_month,zero_downpayment
0,Volkswagen Polo,Volkswagen,HIGHLINE1.2L PETROL,2011,Manual,"1,06,730",2nd,Petrol,"19,699",112/month,Zero downpayment
1,Maruti Swift Dzire,Maruti,VXI 1.2 BS IV,2015,Manual,"91,778",1st,Petrol,"74,299",",551/month",Zero downpayment
2,Hyundai Xcent,Hyundai,S 1.2 OPT,2014,Manual,"64,894",1st,Petrol,"22,699",403/month,Zero downpayment
3,Ford Ecosport,Ford,1.5TITANIUM TDCI,2014,Manual,"75,324",1st,Diesel,"92,899",",189/month",Zero downpayment
4,Maruti Dzire,Maruti,VDI,2018,Manual,"64,285",1st,Diesel,"41,799",",501/month",Zero downpayment

In [15]:
df.to_csv('cars24pune.csv')