In [1]:
import requests
from bs4 import BeautifulSoup 
import numpy as np

In [2]:
from selenium import webdriver
import time

In [3]:
website = 'https://www.cars24.com/buy-used-cars-ahmedabad/'
path = 'C://Users//prashanth//Desktop//New folder//chromedriver.exe'

driver = webdriver.Chrome(path)
driver.get(website)
previous_height = driver.execute_script('return document.body.scrollHeight')
while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    time.sleep(5)
    new_height = driver.execute_script('return document.body.scrollHeight')
    if new_height == previous_height:
        break
    previous_height = new_height
file = open('cars24_ahmedabad.html', 'w', encoding='utf-8')
file.write(driver.page_source)
file.close()
driver.close()

C:\Users\PRASHA~1\AppData\Local\Temp/ipykernel_16752/1733699309.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [6]:
data = open('cars24_ahmedabad.html','r',encoding="utf8")
soup = BeautifulSoup(data, 'html.parser')

In [7]:
divs = soup.find_all('div',{'class':'_1l4fi'})

In [8]:
cars_name = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:] for div in divs ]

cars_brand = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:].split(' ')[0] for div in divs ] 

model_year = [div.find('div',{'class':'_1jpRU'}).text[:4] for div in divs ] 

model = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).text.strip('Manual') for div in divs ]
model = [i.strip('Automatic')  for i in model]

car_type = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).find('span').text for div in divs ]

kms = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[0] for div in divs ]

owner = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[1][2:] for div in divs ]

gasoliene_type = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[2][5:] for div in divs ]

emi_per_month = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_2HFRN'}).text[3:] for div in divs ]

price = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_7udZZ'}).text[3:] for div in divs ]

zero_downpayment = [div.find('div',{'class':'JvSRy'}).find('span',{'class':'_3X7mV _2H07I'}).text for div in divs ]

In [10]:
import pandas as pd

In [11]:
d = {'cars_name':cars_name,'cars_brand':cars_brand,'model':model,'model_year':model_year,'car_type':car_type,'kms':kms,'owner':owner,'gasoliene_type':gasoliene_type,'price':price,'emi_per_month':emi_per_month,'zero_downpayment':zero_downpayment}

In [12]:
df = pd.DataFrame(d)

In [13]:
df.shape

(404, 11)

In [14]:
df.head()

,cars_name,cars_brand,model,model_year,car_type,kms,owner,gasoliene_type,price,emi_per_month,zero_downpayment
0,Maruti Alto,Maruti,LXI,2020,Manual,"24,682",1st,Petrol,"99,099",878/month,Zero downpayment
1,Hyundai Grand i10,Hyundai,SPORTS 1.2 VTVT,2016,Manual,"30,525",1st,Petrol,"79,199",",660/month",Zero downpayment
2,Hyundai Elite i20,Hyundai,STA 1.2,2014,Manual,"50,257",1st,Petrol,"78,599",",871/month",Zero downpayment
3,Hyundai Grand i10,Hyundai,GNA 1.2 KAPPA VTVT,2018,Manual,"14,586",1st,Petrol,"88,799",",873/month",Zero downpayment
4,Maruti Eeco,Maruti,5 STR WITH AC PLUSHTR,2017,Manual,"33,310",1st,Petrol,"84,099",544/month,Zero downpayment

In [15]:
df.to_csv('cars24ahmedabad.csv')