In [105]:
import requests
from bs4 import BeautifulSoup 
import numpy as np

In [57]:
from selenium import webdriver
from lxml import html
from selenium.webdriver.common.keys import Keys

import time

In [67]:
website = 'https://www.cars24.com/buy-used-cars-hyderabad/'
path = 'C://Users//prashanth//Desktop//New folder//chromedriver.exe'

driver = webdriver.Chrome(path)
driver.get(website)
previous_height = driver.execute_script('return document.body.scrollHeight')
while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    time.sleep(5)
    new_height = driver.execute_script('return document.body.scrollHeight')
    if new_height == previous_height:
        break
    previous_height = new_height
file_H = open('cars24_Hyderabad.html', 'w', encoding='utf-8')
file_H.write(driver.page_source)
file_H.close()
driver.close()

C:\Users\PRASHA~1\AppData\Local\Temp/ipykernel_7604/2809087700.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [129]:
data = open('cars24_Hyderabad.html','r')
soup = BeautifulSoup(data, 'html.parser')

In [144]:
divs = soup.find_all('div',{'class':'_1l4fi'})

In [240]:
cars_name = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:] for div in divs ]

In [241]:
cars_name

['Ford Ecosport',
 'Maruti Swift',
 'Honda Mobilio',
 'Maruti Wagon R 1.0',
 'Hyundai i20 Active',
 'Maruti Alto K10',
 'Skoda Octavia',
 'Maruti Vitara Brezza',
 'Honda City',
 'Hyundai Verna',
 'Hyundai VENUE',
 'Maruti Ciaz',
 'Maruti Swift',
 'Mahindra XUV500',
 'Maruti Baleno',
 'Ford Ecosport',
 'Renault Kwid',
 'Maruti Alto K10',
 'Maruti Vitara Brezza',
 'Maruti Vitara Brezza',
 'Maruti Wagon R 1.0',
 'Maruti Wagon R 1.0',
 'Maruti Vitara Brezza',
 'Hyundai Grand i10',
 'Maruti Wagon R 1.0',
 'Maruti Alto',
 'Maruti Alto 800',
 'Maruti Wagon R 1.0',
 'Maruti Wagon R 1.0',
 'Maruti Wagon R 1.0',
 'Honda Brio',
 'Maruti Wagon R 1.0',
 'Maruti Eeco',
 'Maruti Wagon R 1.0',
 'Maruti Wagon R 1.0',
 'Maruti Alto K10',
 'Honda Brio',
 'Maruti Eeco',
 'Maruti Swift',
 'Hyundai Elite i20',
 'Maruti Swift',
 'Hyundai GRAND I10 NIOS',
 'Hyundai Elite i20',
 'Renault Kwid',
 'Maruti Wagon R 1.0',
 'Hyundai Grand i10',
 'Volkswagen Ameo',
 'Toyota Fortuner',
 'Maruti Swift Dzire',
 'Datsun Redi Go',
 'Hyundai Creta',
 'Hyundai Creta',
 'Hyundai Creta',
 'Hyundai Elite i20',
 'Honda WR-V',
 'Volkswagen Vento',
 'Mercedes Benz C Class',
 'Maruti New  Wagon-R',
 'Honda City',
 'Hyundai Elite i20',
 'Hyundai Elite i20',
 'Maruti IGNIS',
 'Maruti Celerio',
 'Hyundai Eon',
 'Maruti Baleno',
 'Maruti Swift',
 'Hyundai Creta',
 'Maruti Baleno',
 'Hyundai Verna',
 'Maruti Swift Dzire',
 'Renault Kwid',
 'Hyundai Eon',
 'Honda Jazz',
 'Maruti Swift',
 'Maruti Baleno',
 'Maruti Baleno',
 'Maruti Swift',
 'Maruti Alto 800',
 'Hyundai Santro Xing',
 'Hyundai Grand i10',
 'Maruti Wagon R 1.0',
 'Hyundai Grand i10',
 'Hyundai Grand i10',
 'Hyundai i10',
 'Hyundai Grand i10',
 'Maruti Wagon R 1.0',
 'Maruti Wagon R 1.0',
 'Maruti Alto K10',
 'Maruti Alto K10',
 'Maruti Alto K10',
 'Maruti Alto K10',
 'Renault Captur',
 'Maruti New  Wagon-R',
 'Hyundai Creta',
 'Tata Tiago',
 'Toyota Fortuner',
 'Tata Safari Storme',
 'Honda Amaze',
 'Ford New Figo',
 'Maruti Ciaz',
 'Honda City',
 'Toyota Innova Crysta',
 'Honda WR-V',
 'Honda City',
 'Maruti Baleno',
 'Maruti XL6',
 'Hyundai Elite i20',
 'Maruti Ciaz',
 'Honda City',
 'Hyundai NEW I20',
 'Hyundai Elite i20',
 'Hyundai i20 Active',
 'Maruti Swift Dzire',
 'Maruti Baleno',
 'Renault Kwid',
 'Maruti Swift',
 'Hyundai Santro Xing',
 'Renault Kwid',
 'Maruti Vitara Brezza',
 'Honda Brio',
 'Maruti Baleno',
 'Maruti Celerio',
 'Maruti Wagon R 1.0',
 'Maruti Alto',
 'Hyundai Grand i10',
 'Maruti Wagon R 1.0',
 'Maruti Alto 800',
 'Maruti Alto K10',
 'Maruti Alto K10',
 'Maruti Eeco',
 'Maruti Eeco',
 'Maruti Eeco',
 'Hyundai i10',
 'Maruti Alto K10',
 'Maruti Baleno',
 'MG HECTOR',
 'Maruti Swift Dzire']

In [242]:
cars_brand = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:].split(' ')[0] for div in divs ]

In [243]:
cars_brand[:1]

['Ford']

In [222]:
model_year = [div.find('div',{'class':'_1jpRU'}).text[:4] for div in divs ]

In [223]:
model_year[:1]

['2013']

In [153]:
divs[:1]

[<div class="_1l4fi"><div class="_15rKe"><div class="_1jpRU"><h2 class="_3FpCg">2013 Ford Ecosport</h2><p class="cvakB">1.5 TITANIUMTDCI OPT <span>Manual</span></p></div></div><ul class="bVR0c"><li>1,79,045 km</li><li>1st Owner</li><li>Diesel</li></ul><div class="_19zc5"><div class="_2HFRN"><strong>â‚¹11,291/month</strong></div><div class="_7udZZ"><span>â‚¹5,07,599</span></div></div><div class="JvSRy"><span class="_3X7mV _2H07I">Zero downpayment</span></div></div>]

In [177]:
model = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).text.strip('Manual') for div in divs ]

In [178]:
model = [i.strip('Automatic')  for i in model]

In [179]:
model[:2]

['1.5 TITANIUMTDCI OPT ', 'ZDI ']

In [180]:
car_type = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).find('span').text for div in divs ]

In [182]:
divs[:1]

[<div class="_1l4fi"><div class="_15rKe"><div class="_1jpRU"><h2 class="_3FpCg">2013 Ford Ecosport</h2><p class="cvakB">1.5 TITANIUMTDCI OPT <span>Manual</span></p></div></div><ul class="bVR0c"><li>1,79,045 km</li><li>1st Owner</li><li>Diesel</li></ul><div class="_19zc5"><div class="_2HFRN"><strong>â‚¹11,291/month</strong></div><div class="_7udZZ"><span>â‚¹5,07,599</span></div></div><div class="JvSRy"><span class="_3X7mV _2H07I">Zero downpayment</span></div></div>]

In [193]:
kms = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[0] for div in divs ]

In [195]:
kms[:1]

['1,79,045']

In [198]:
owner = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[1][2:] for div in divs ]

In [200]:
owner[:1]

['1st']

In [203]:
gasoliene_type = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[2][5:] for div in divs ]

In [205]:
gasoliene_type[:1]

['Diesel']

In [211]:
emi_per_month = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_2HFRN'}).text[3:] for div in divs ]

In [213]:
emi_per_month[:1]

['11,291/month']

In [216]:
price = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_7udZZ'}).text[3:] for div in divs ]

In [217]:
price[:1]

['5,07,599']

In [218]:
zero_downpayment = [div.find('div',{'class':'JvSRy'}).find('span',{'class':'_3X7mV _2H07I'}).text for div in divs ]

In [221]:
zero_downpayment[:1]

['Zero downpayment']

In [239]:
import pandas as pd

In [244]:
d = {'cars_name':cars_name,'cars_brand':cars_brand,'model':model,'model_year':model_year,'car_type':car_type,'kms':kms,'owner':owner,'gasoliene_type':gasoliene_type,'price':price,'emi_per_month':emi_per_month,'zero_downpayment':zero_downpayment}

In [245]:
df = pd.DataFrame(d)

In [246]:
df.head()

,cars_name,cars_brand,model,model_year,car_type,kms,owner,gasoliene_type,price,emi_per_month,zero_downpayment
0,Ford Ecosport,Ford,1.5 TITANIUMTDCI OPT,2013,Manual,"1,79,045",1st,Diesel,"5,07,599","11,291/month",Zero downpayment
1,Maruti Swift,Maruti,ZDI,2012,Manual,"78,819",2nd,Diesel,"4,76,699","10,604/month",Zero downpayment
2,Honda Mobilio,Honda,1.5 V OPT I DTEC,2014,Manual,"97,289",2nd,Diesel,"4,94,799","11,007/month",Zero downpayment
3,Maruti Wagon R 1.0,Maruti,VXI,2013,Manual,"45,693",2nd,Petrol,"3,31,999","7,385/month",Zero downpayment
4,Hyundai i20 Active,Hyundai,1.2 S,2016,Manual,"40,586",1st,Petrol,"6,20,299","13,798/month",Zero downpayment

In [249]:
df.shape

(137, 11)

In [250]:
df.to_csv('cars24.csv')