In [1]:
import requests
from bs4 import BeautifulSoup 
import numpy as np

In [2]:
from selenium import webdriver
import time

In [3]:
website = 'https://www.cars24.com/buy-used-cars-chennai/'
path = 'C://Users//prashanth//Desktop//New folder//chromedriver.exe'

driver = webdriver.Chrome(path)
driver.get(website)
previous_height = driver.execute_script('return document.body.scrollHeight')
while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    time.sleep(5)
    new_height = driver.execute_script('return document.body.scrollHeight')
    if new_height == previous_height:
        break
    previous_height = new_height
file_H = open('cars24_chennai.html', 'w', encoding='utf-8')
file_H.write(driver.page_source)
file_H.close()
driver.close()

C:\Users\PRASHA~1\AppData\Local\Temp/ipykernel_18172/1658540857.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [4]:
data = open('cars24_chennai.html','r')
soup = BeautifulSoup(data, 'html.parser')

In [5]:
divs = soup.find_all('div',{'class':'_1l4fi'})

In [6]:
cars_name = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:] for div in divs ]

In [8]:
cars_name[:1]

['Maruti Swift Dzire']

In [9]:
cars_brand = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:].split(' ')[0] for div in divs ]

In [10]:
model_year = [div.find('div',{'class':'_1jpRU'}).text[:4] for div in divs ]

In [12]:
model = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).text.strip('Manual') for div in divs ]
model = [i.strip('Automatic')  for i in model]

In [13]:
model[:1]

['VXI 1.2 BS IV ']

In [14]:
car_type = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).find('span').text for div in divs ]

In [15]:
kms = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[0] for div in divs ]

In [16]:
owner = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[1][2:] for div in divs ]

In [17]:
gasoliene_type = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[2][5:] for div in divs ]

In [18]:
emi_per_month = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_2HFRN'}).text[3:] for div in divs ]

In [19]:
price = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_7udZZ'}).text[3:] for div in divs ]

In [20]:
zero_downpayment = [div.find('div',{'class':'JvSRy'}).find('span',{'class':'_3X7mV _2H07I'}).text for div in divs ]

In [21]:
import pandas as pd

In [22]:
d = {'cars_name':cars_name,'cars_brand':cars_brand,'model':model,'model_year':model_year,'car_type':car_type,'kms':kms,'owner':owner,'gasoliene_type':gasoliene_type,'price':price,'emi_per_month':emi_per_month,'zero_downpayment':zero_downpayment}

In [23]:
df = pd.DataFrame(d)

In [24]:
df.shape

(702, 11)

In [25]:
df.head()

,cars_name,cars_brand,model,model_year,car_type,kms,owner,gasoliene_type,price,emi_per_month,zero_downpayment
0,Maruti Swift Dzire,Maruti,VXI 1.2 BS IV,2013,Manual,"54,017",2nd,Petrol,"4,10,199","9,125/month",Zero downpayment
1,Honda City,Honda,V MT PETROL,2015,Manual,"79,725",3rd,Petrol,"5,74,099","12,771/month",Zero downpayment
2,Hyundai i20 Active,Hyundai,1.2 S,2015,Manual,"59,078",2nd,Petrol,"5,28,399","11,754/month",Zero downpayment
3,Maruti Dzire,Maruti,ZDI Plus AMT,2017,Automatic,"98,433",1st,Diesel,"6,75,399","15,024/month",Zero downpayment
4,Ford New Figo,Ford,1.2 TITANIUM,2017,Manual,"19,376",1st,Petrol,"4,98,799","11,096/month",Zero downpayment

In [26]:
df.to_csv('cars24chennai.csv')