In [1]:
import requests
from bs4 import BeautifulSoup 
import numpy as np

In [2]:
from selenium import webdriver
import time

In [22]:
website = 'https://www.cars24.com/buy-used-cars-bengaluru/'
path = 'C://Users//prashanth//Desktop//New folder//chromedriver.exe'

driver = webdriver.Chrome(path)
driver.get(website)
previous_height = driver.execute_script('return document.body.scrollHeight')
while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    time.sleep(5)
    new_height = driver.execute_script('return document.body.scrollHeight')
    if new_height == previous_height:
        break
    previous_height = new_height
file = open('cars24_bengaluru.html', 'w', encoding='utf-8')
file.write(driver.page_source)
file.close()
driver.close()

C:\Users\PRASHA~1\AppData\Local\Temp/ipykernel_10172/3325879504.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [23]:
data = open('cars24_bengaluru.html','r')
soup = BeautifulSoup(data, 'html.parser')

In [24]:
divs = soup.find_all('div',{'class':'_1l4fi'})

In [25]:
cars_name = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:] for div in divs ]

In [26]:
len(cars_name)

450

In [27]:
cars_brand = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:].split(' ')[0] for div in divs ]

In [28]:
model_year = [div.find('div',{'class':'_1jpRU'}).text[:4] for div in divs ]

In [29]:
model = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).text.strip('Manual') for div in divs ]
model = [i.strip('Automatic')  for i in model]

In [30]:
car_type = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).find('span').text for div in divs ]

In [31]:
kms = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[0] for div in divs ]

In [32]:
owner = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[1][2:] for div in divs ]

In [33]:
gasoliene_type = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[2][5:] for div in divs ]

In [34]:
emi_per_month = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_2HFRN'}).text[3:] for div in divs ]

In [35]:
price = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_7udZZ'}).text[3:] for div in divs ]

In [36]:
zero_downpayment = [div.find('div',{'class':'JvSRy'}).find('span',{'class':'_3X7mV _2H07I'}).text for div in divs ]

In [37]:
import pandas as pd

In [38]:
d = {'cars_name':cars_name,'cars_brand':cars_brand,'model':model,'model_year':model_year,'car_type':car_type,'kms':kms,'owner':owner,'gasoliene_type':gasoliene_type,'price':price,'emi_per_month':emi_per_month,'zero_downpayment':zero_downpayment}

In [39]:
df = pd.DataFrame(d)

In [40]:
df.shape

(450, 11)

In [41]:
df.head()

,cars_name,cars_brand,model,model_year,car_type,kms,owner,gasoliene_type,price,emi_per_month,zero_downpayment
0,Hyundai i20 Active,Hyundai,1.4 SX,2016,Manual,"46,853",1st,Diesel,"7,70,299","17,135/month",Zero downpayment
1,Datsun Redi Go,Datsun,T (O),2017,Manual,"37,217",1st,Petrol,"3,11,399","6,927/month",Zero downpayment
2,Ford Figo Aspire,Ford,1.2 TITANIUM PETROL,2017,Manual,"22,645",1st,Petrol,"5,93,199","13,195/month",Zero downpayment
3,Volkswagen Ameo,Volkswagen,HIGHLINE 1.5,2016,Manual,"56,225",1st,Diesel,"6,18,999","13,769/month",Zero downpayment
4,Maruti Ertiga,Maruti,VDI ABS,2015,Manual,"56,700",1st,Diesel,"7,90,199","17,578/month",Zero downpayment

In [42]:
df.to_csv('cars24bengaluru.csv')