In [1]:
import requests
from bs4 import BeautifulSoup 
import numpy as np

In [2]:
from selenium import webdriver
import time

In [3]:
website = 'https://www.cars24.com/buy-used-cars-gurgaon/'
path = 'C://Users//prashanth//Desktop//New folder//chromedriver.exe'

driver = webdriver.Chrome(path)
driver.get(website)
previous_height = driver.execute_script('return document.body.scrollHeight')
while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    time.sleep(5)
    new_height = driver.execute_script('return document.body.scrollHeight')
    if new_height == previous_height:
        break
    previous_height = new_height
file = open('cars24_gurgaon.html', 'w', encoding='utf-8')
file.write(driver.page_source)
file.close()
driver.close()

C:\Users\PRASHA~1\AppData\Local\Temp/ipykernel_20460/1978377544.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [4]:
data = open('cars24_gurgaon.html','r',encoding="utf8")
soup = BeautifulSoup(data, 'html.parser')

In [5]:
divs = soup.find_all('div',{'class':'_1l4fi'})

In [6]:
cars_name = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:] for div in divs ]

cars_brand = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:].split(' ')[0] for div in divs ] 

model_year = [div.find('div',{'class':'_1jpRU'}).text[:4] for div in divs ] 

model = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).text.strip('Manual') for div in divs ]
model = [i.strip('Automatic')  for i in model]

car_type = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).find('span').text for div in divs ]

kms = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[0] for div in divs ]

owner = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[1][2:] for div in divs ]

gasoliene_type = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[2][5:] for div in divs ]

emi_per_month = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_2HFRN'}).text[3:] for div in divs ]

price = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_7udZZ'}).text[3:] for div in divs ]

zero_downpayment = [div.find('div',{'class':'JvSRy'}).find('span',{'class':'_3X7mV _2H07I'}).text for div in divs ]

In [7]:
len(cars_name)

831

In [8]:
d = {'cars_name':cars_name,'cars_brand':cars_brand,'model':model,'model_year':model_year,'car_type':car_type,'kms':kms,'owner':owner,'gasoliene_type':gasoliene_type,'price':price,'emi_per_month':emi_per_month,'zero_downpayment':zero_downpayment}

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(d)

In [11]:
df.shape

(831, 11)

In [12]:
df.head()

,cars_name,cars_brand,model,model_year,car_type,kms,owner,gasoliene_type,price,emi_per_month,zero_downpayment
0,Maruti Zen Estilo,Maruti,VXI,2009,Manual,"38,160",1st,Petrol,"04,199",542/month,Zero downpayment
1,Maruti Swift,Maruti,VDI,2012,Manual,"1,20,326",2nd,Diesel,"60,099",786/month,Zero downpayment
2,Maruti Ertiga,Maruti,VDI ABS,2013,Manual,"1,19,146",3rd,Diesel,"69,199",",437/month",Zero downpayment
3,Maruti Swift Dzire,Maruti,LDI BS IV,2014,Manual,"1,18,729",2nd,Diesel,"10,899",916/month,Zero downpayment
4,Maruti Ritz,Maruti,LXI,2010,Manual,"77,787",2nd,Petrol,"44,999",450/month,Zero downpayment

In [13]:
df.to_csv('cars24gurgaon.csv')