In [1]:
import requests
from bs4 import BeautifulSoup 
import numpy as np

In [2]:
from selenium import webdriver
import time

In [3]:
website = 'https://www.cars24.com/buy-used-cars-kolkata/'
path = 'C://Users//prashanth//Desktop//New folder//chromedriver.exe'

driver = webdriver.Chrome(path)
driver.get(website)
previous_height = driver.execute_script('return document.body.scrollHeight')
while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    time.sleep(5)
    new_height = driver.execute_script('return document.body.scrollHeight')
    if new_height == previous_height:
        break
    previous_height = new_height
file = open('cars24_kolkata.html', 'w', encoding='utf-8')
file.write(driver.page_source)
file.close()
driver.close()

C:\Users\PRASHA~1\AppData\Local\Temp/ipykernel_22580/2728706966.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [4]:
data = open('cars24_kolkata.html','r')
soup = BeautifulSoup(data, 'html.parser')

In [5]:
divs = soup.find_all('div',{'class':'_1l4fi'})

In [6]:
cars_name = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:] for div in divs ]

cars_brand = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:].split(' ')[0] for div in divs ] 

model_year = [div.find('div',{'class':'_1jpRU'}).text[:4] for div in divs ] 

model = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).text.strip('Manual') for div in divs ]
model = [i.strip('Automatic')  for i in model]

car_type = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).find('span').text for div in divs ]

kms = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[0] for div in divs ]

owner = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[1][2:] for div in divs ]

gasoliene_type = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[2][5:] for div in divs ]

emi_per_month = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_2HFRN'}).text[3:] for div in divs ]

price = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_7udZZ'}).text[3:] for div in divs ]

zero_downpayment = [div.find('div',{'class':'JvSRy'}).find('span',{'class':'_3X7mV _2H07I'}).text for div in divs ]

In [18]:
import pandas as pd

In [19]:
d = {'cars_name':cars_name,'cars_brand':cars_brand,'model':model,'model_year':model_year,'car_type':car_type,'kms':kms,'owner':owner,'gasoliene_type':gasoliene_type,'price':price,'emi_per_month':emi_per_month,'zero_downpayment':zero_downpayment}

In [20]:
df = pd.DataFrame(d)

In [21]:
df.shape

(307, 11)

In [22]:
df.head()

,cars_name,cars_brand,model,model_year,car_type,kms,owner,gasoliene_type,price,emi_per_month,zero_downpayment
0,Maruti Zen Estilo,Maruti,VXI,2013,Manual,"37,265",1st,Petrol,"2,56,599","5,708/month",Zero downpayment
1,Maruti Swift,Maruti,VXI,2014,Manual,"54,947",2nd,Petrol,"3,77,399","8,395/month",Zero downpayment
2,Hyundai Verna,Hyundai,FLUIDIC 1.6 SX CRDI,2015,Manual,"47,025",2nd,Diesel,"5,43,099","12,081/month",Zero downpayment
3,Renault Duster,Renault,RXZ DIESEL 110,2013,Manual,"51,522",1st,Diesel,"4,44,099","9,879/month",Zero downpayment
4,Maruti Ertiga,Maruti,ZXI,2014,Manual,"12,904",1st,Petrol,"5,89,099","13,104/month",Zero downpayment

In [23]:
df.to_csv('cars24kolkata.csv')