In [1]:
import requests
from bs4 import BeautifulSoup 
import numpy as np

In [2]:
from selenium import webdriver
import time

In [3]:
website = 'https://www.cars24.com/buy-used-cars-mumbai/'
path = 'C://Users//prashanth//Desktop//New folder//chromedriver.exe'

driver = webdriver.Chrome(path)
driver.get(website)
previous_height = driver.execute_script('return document.body.scrollHeight')
while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    time.sleep(5)
    new_height = driver.execute_script('return document.body.scrollHeight')
    if new_height == previous_height:
        break
    previous_height = new_height
file_H = open('cars24_mumbai.html', 'w', encoding='utf-8')
file_H.write(driver.page_source)
file_H.close()
driver.close()

C:\Users\PRASHA~1\AppData\Local\Temp/ipykernel_16876/2710720280.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [4]:
data = open('cars24_mumbai.html','r')
soup = BeautifulSoup(data, 'html.parser')

In [5]:
divs = soup.find_all('div',{'class':'_1l4fi'})

In [6]:
cars_name = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:] for div in divs ]

In [7]:
cars_brand = [div.find('div',{'class':'_1jpRU'}).find('h2',{'class':'_3FpCg'}).text[5:].split(' ')[0] for div in divs ]

In [8]:
model_year = [div.find('div',{'class':'_1jpRU'}).text[:4] for div in divs ]

In [9]:
model = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).text.strip('Manual') for div in divs ]
model = [i.strip('Automatic')  for i in model]

In [10]:
car_type = [div.find('div',{'class':'_1jpRU'}).find('p',{'class':'cvakB'}).find('span').text for div in divs ]

In [11]:
kms = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[0] for div in divs ]

In [12]:
owner = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[1][2:] for div in divs ]

In [13]:
gasoliene_type = [div.find('ul',{'class':'bVR0c'}).text.split(' ')[2][5:] for div in divs ]

In [14]:
emi_per_month = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_2HFRN'}).text[3:] for div in divs ]

In [15]:
price = [div.find('div',{'class':'_19zc5'}).find('div',{'class':'_7udZZ'}).text[3:] for div in divs ]

In [16]:
zero_downpayment = [div.find('div',{'class':'JvSRy'}).find('span',{'class':'_3X7mV _2H07I'}).text for div in divs ]

In [17]:
import pandas as pd

In [18]:
d = {'cars_name':cars_name,'cars_brand':cars_brand,'model':model,'model_year':model_year,'car_type':car_type,'kms':kms,'owner':owner,'gasoliene_type':gasoliene_type,'price':price,'emi_per_month':emi_per_month,'zero_downpayment':zero_downpayment}

In [19]:
df = pd.DataFrame(d)

In [20]:
df.shape

(670, 11)

In [21]:
df.head()

,cars_name,cars_brand,model,model_year,car_type,kms,owner,gasoliene_type,price,emi_per_month,zero_downpayment
0,Ford New Figo,Ford,1.2 TREND,2017,Manual,58,1st,Petrol,"4,20,699","9,358/month",Zero downpayment
1,Maruti Swift,Maruti,VDI,2012,Manual,"69,711",2nd,Diesel,"4,09,599","9,111/month",Zero downpayment
2,Maruti Vitara Brezza,Maruti,ZXI+ AT SHVS,2020,Automatic,"13,934",1st,Petrol,"11,31,099","25,161/month",Zero downpayment
3,Honda WR-V,Honda,1.2 i-VTEC VX MT,2018,Manual,"16,631",1st,Petrol,"8,11,899","18,060/month",Zero downpayment
4,Hyundai Tucson New,Hyundai,2WD AT GLS DIESEL,2017,Automatic,"64,801",1st,Diesel,"16,66,499","37,070/month",Zero downpayment

In [22]:
df.to_csv('cars24mumbai.csv')